.circle {
    border: 4px solid black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
  .wave {
    position: relative;
    right: 30%;
    width: 160%;
    height: 160%;
    transform-origin: 50% 50%;
    border-radius: 78% 56%;
    animation: spin 5s infinite linear;
  }
  
  .percentage {
    position: absolute;
    top: 75px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 70px;
    font-weight: 600;
  }
  
  .votes {
      font-family: "Marcellus", serif;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 50px;
      color: white;
  }
  
  .token {
      font-family: "Marcellus", serif;
      text-align: center;
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 50px;
  
  }

  .buttons1 {
    background-color: #3f00eb;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    text-align:center;
    display: flex;
    margin: 70px 0px;
  }

  .buttons1:hover {
    opacity: 1;
  }

  .buttons2 {
    background-color: #66237a;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    text-align:center;
    display: flex;
    margin: 70px 0px;
  }

  .buttons2:hover {
    opacity: 1;
  }

  .buttons3 {
    background-color: #ffb618;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
    align-items: center;
    justify-content:center;
    text-align:center;
    display: flex;
    margin: 70px 0px;
  }

  .buttons3:hover {
    opacity: 1;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  .background{
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .ItemImage{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
    position: relative;
    max-width: 1050px;
    
  }

  @media screen and (max-width: 1050px){
    .ItemImage{
      max-width: 100%;
    }
  }

  .ItemImage2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
    position: relative;
    max-width: 70%;    
  }

  @media screen and (max-width: 1500px){
    .ItemImage2{
      max-width: 100%;
    }
  }

  .ItemImage3{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
    position: relative;
    max-width: 80vw;    
  }




